 .nav {
    position: relative;
    display: flex;
    background-color: #151515;
    border-bottom: 2px solid #272727;
    font-weight: bold;
    transition: 0.9s;
    padding-top: 20px;
    height: 100px;
  }
  
  .nav.fixed {
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
  }
  .nav li a::after {
    content: "";
    display: block;
    border-bottom: 2px solid #00d2df;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .nav li a:hover::after {
    transform: scaleX(1);
  }
  .nav li a {
    color: wheat;
    transition: 0.3s;
    text-decoration: none;
    cursor:grab;
  }
  
  .nav li a:hover {
    color: #1856da;
  }
#inicio { 
    background-color: #151515;
    border-bottom: 2px solid #272727;
    color: wheat;
    
}
.trajetoriatitle { 
    text-shadow: 2px 1px 5px wheat;

}
.titulo1 { 
    padding-top: 100px;
    padding-bottom: 30px;
    
}
.titulo2 {
    padding-top: 40px;
    text-shadow: 1px 1px 5px wheat;

}
.images1 { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem1 { 
  width: 200px;
  margin-top: 20px;
  margin-bottom: 300px;
 
}
.imagem2 {
    width: 200px;
    position: relative;
    margin-top: 250px;
}
.images1 a::after {
    content: "";
    display: block;
    border: 2px solid wheat;
    transform: scaleX(0);
    transition: transform 0.9s ease-in-out;
  }
  
.images1 a:hover::after {
    transform: scaleX(1);
  }
  #grid1 { 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
  }
.botão2 { 
 background-color: rgba(0, 0, 0, 0.605);
 
  }
.botão2 a { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
  }
.botaogithub, 
.botaolink, 
.botaocv,
.botaoinsta,
.botaoemail {
  color: wheat;
  display: flex;
  align-items: center;
  padding-left: 2px;
  padding-top: 2px;
  justify-content: space-evenly;
  width: 140px;
  border-radius: 8px;
  position: relative;
  background-color: #121212;
  transition: 0.3s;
  letter-spacing: 1.5px;
  text-decoration: none;    
}

.botaocv,
.botaoinsta,
.botaoemail
{ 
    display: flex;
    padding-top: 0px;
}
.botaogithub p,
.botaolink p,
.botaocv p,
.botaoinsta p,
.botaoemail p { 
    text-decoration: none;
    padding-top: 10px;
    font-size: 20px;
}
.botaocv p,
.botaoinsta p,
.botaoemail p { 
     padding-top: 0px
}
.botaogithub img,
.botaolink img
 {
  width: 22px;
 }
.botaolink img { 
    padding-bottom: 10px;
}
.botaogithub:hover, 
.botaolink:hover
 { 
    background-color: #272727;
    text-shadow: 1px 1px 3px wheat;
}
.botões,
.botoesfooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a1 { 
  position: relative;
  right: 20px;
}
.a1, .a2 { 
   border: 1px solid wheat;
   border-radius: 7px; 
}
#traj {
    text-align: center;
    align-items: center;
}
.foto1 { 
    width: 10px;
    height: 10px;
    }

.foto1 img { 
    border-radius: 20px;
}
#scroll { 
    justify-content: center;
    align-items: center;
    text-align: center;
 
}
#scroll .scroll a { 
    color: rgb(253, 253, 253);
    text-decoration: none;
}
#scroll .scroll img {
    animation: scroll-down 3s infinite forwards;
  }

  
  @keyframes scroll-down {
    0% {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 10px, 0);
    }
  }
#bottom-div {
    position:relative;
    left: -1350px; /* esconde a div da esquerda */
    transition: left 1.2s ease-in-out; /* suaviza a transição */
    justify-content: center;
    align-items: center;
    text-align: center;

  }
#bottom-div img { 
    width: 375px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 0px 10px #a78585ae;

}
#frase1 { 
    padding-left: 60px;
}
#exp { 
    margin-top: 20px;
    text-shadow: 2px 1px 5px wheat;
}
.experiencia { 
    align-items: center;
    text-align: center;
    justify-content: center;
}  
  .experiencias1 {
    width: 200px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
  }
  
  .experiencias1 ul {
    list-style: none;
    font-size: 1.1rem;
    padding: 0px;
    background-color: rgba(42, 42, 42, 0.478);
  }
  
  .experiencias1 li {
    padding: 10px;
    text-align: center;
    border-left: 2px solid #a78585;
    transition: background-color 1s ease;
  }
  
  .experiencias1 ul li:hover {
    background-color: #b12f2f;
  }
  
  
  @keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes show-down {
    from {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #1b1b1b;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00d2df;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #00bbc5;
  }
  .projeto { 
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #projectocontainer h2 { 
      padding-bottom: 20px;
  }
  .titleproject { 
    padding-bottom: 40px;
    text-shadow: 2px 1px 5px wheat;

  }
  #projectcontainer {
    padding-top: 40px;


  }
  .projeto a { 
    text-decoration: none;
    color: wheat;
  }
.projeto img {
    width: 270px;
    box-shadow: 2px 0px 10px #a78585ae;
    height: auto;
    transition: transform 0.5s ease-in-out;
    border-left: 7px solid #a78585;

}
.projeto img:hover { 
    transform: scale(108%);
    border-color: #1856da;
}
.projeto a h2:hover { 
    color: rgba(245, 222, 179, 0.557);
}
footer { 
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}
.botoesfooter {
    display: flex;
}
.botaoinsta a, 
.botaocv a,
.botaoemail a { 
    border: 1px none wheat;
    border-radius: 7px; 
    text-decoration: none;
    color: wheat;
    padding: 0px;
    width: 200px;
}
.botaoemail, 
.botaocv,
.botaoinsta { 
      justify-content: center;
      text-align: center;
      align-items: center;
      display: flex;
      padding: 0px;
      background-color: unset;
}
.botaocv:hover, 
.botaoinsta:hover,
.botaoemail:hover { 
    background-color: rgba(197, 146, 58, 0.382);
    text-shadow: 1px 1px 3px darkred;

}
@media screen and (max-width:991px) {
    .frase1, .experiencias1, #divexp {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width: 500px) { 
    .frase1, .experiencias1, #divexp { 
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding-right: 20px;
    }
    .experiencias1 { 
        padding-right: 0px;
    }
}
@media screen and (max-width: 430px) { 
    .compcv, .compinsta, .compemail { 
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 400px) {
     .projeto img,
     #bottom-div img
      { 
        width: 100%;
     }    
  .botoesfooter, .compcv, .compemail, .compinsta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
   }
@media screen and (max-width: 307px) { 
    .nav { 
        height: 230px;

    }
}
  .botões { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

 }

@media screen and (max-width: 210px) { 
    .experiencias1 { 
     width: 100%;
    }
}
